$galleryPrefix: '.E8CSls1TAR';

#{$galleryPrefix}.grid{
    display: grid
}

#{$galleryPrefix}:not(.grid) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 5px;
    .aplhaLayer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}