$galleryPrefix: '.E8CSls1TAR';

#{$galleryPrefix}.grid{
    display: grid;
    width: 100%;
    height: 100%;
}

#{$galleryPrefix}:not(.grid) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    padding: 5px;
}

#{$galleryPrefix}{
    .aplhaLayer{
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}