$galleryPrefix: '.E8CSls1TAR';

#{$galleryPrefix} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;

    padding: 5px;
    .aplhaLayer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}