$className: '.mYx5yS5nJo';

#{$className} {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 5px;
    overflow: hidden;
    img {
        object-fit: cover;
        width: 100%;
    }
}

#{$className}.focusable:hover {
    outline-style: inset;
    outline-color: gray;
    outline-width: 1px;
    cursor: pointer;
}