@imagePrefix: ~'.mYx5yS5nJo';

@{imagePrefix} {
    flex-grow: 1;
    flex-basis: 250px;

    width: 300px;
    padding: 10px;
    border-style: solid;
    border-color: grey;
    background-color: lightgray;
    border-width: 2px;
    border-radius: 5px;
    margin: 10px;

    img{
        width: 100%;
    }
}

@{imagePrefix}:hover {
    background-color: #B1B1B1;
    cursor: pointer;
}