$className: '.rGEIdPsvTA';
$buttonBackgroundColor: rgba(233, 233, 233, 0.30);
$uiBorderColor: #000000;
#{$className}:not(.fullscreen) {
    width: 100%;
}

#{$className} {
    z-index: 10;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    img {
        width: 100%;
    }
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    button.left {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
    button.right {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
    button {
        border-radius: 99999px;
        border-style: solid;
        background-color: $buttonBackgroundColor;
        border-color: $uiBorderColor;
        padding: 0px;
        border-width: 1px;
        margin: 0px 2%;
        margin-bottom: 10px;
        padding: 3px;
        outline: none;
    }
    button:hover {
        background-color: darken($buttonBackgroundColor, 20);
    }
    button:focus {
        background-color: darken($buttonBackgroundColor, 20);
    }
    .progressTracker {
        .fractionTracker {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: $buttonBackgroundColor;
            border-style: solid;
            border-width: 1px;
            border-color: $uiBorderColor;
            border-radius: 0px 0px 5px 5px;
            padding: 0px 5px;
        }
    }
}

#{$className}.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}